    /* Full-width input fields */

    #sign-up > form > div > input[type=email],
    #sign-up > form > div > input[type=password],
    #sign-in > form > div > input[type=email],
    #sign-in > form > div > input[type=password]{
        width: 100%;
        padding: 16px;
        margin-left: -16px !important;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    /* Add a background color when the inputs get focus */

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for all buttons */

    .cancelbtn, .signupbtn {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */

    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }

    /* Float cancel and signup buttons and add an equal width */

    .cancelbtn, .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */

    .container {
        text-align: center;
        padding: 40px;
        padding-top: 5px;
        margin-top: -120px;
        width: 100%;
        background-color: white;
        outline: none;
        border-radius: 15px;
    }

    #sign-up>form>div>hr {
        text-align: center;
    }

    /* The Modal (background) */

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        overflow: auto;
        /* Enable scroll if needed */
        padding-top: 50px;
    }

    /* Modal Content/Box */

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: none;
        width: 30%;
        border-radius: 15px;
    }

    /* The Close Button (x) */

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .close:hover, .close:focus {
        color: #f44336;
        cursor: pointer;
    }

    /* Clear floats */

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .third-sign-up {
        border: 1.2px solid rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        margin: 5px;
        position: relative;
    }

    .third-sign-up img {
        position: absolute;
        left: 3%;
        top: 20%;
    }

    #sign-up>form>div>div:nth-child(13)>div:nth-child(2)>img {
        position: absolute;
        left: 3%;
        top: 30%;
    }

    #sign-up>form>div>div:nth-child(13)>div:nth-child(5)>img {
        position: absolute;
        left: 3%;
        top: 12%;
    }

    .login-in-sign-up {
        margin-top: 20px;
        margin-bottom: -15px;
    }