#container-info {
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}

.info {
    text-align: center;
}

.info_ {
    margin: 36px;
}

.small-img {
    height: 225px;
    width: 247px;
    padding-left: 10px;
}

#container-info img {
    border-radius: 20px;
}

#container-info .img-2 {
    position: absolute;
    top: 17.5% - 36px;
    padding-left: 10px;
}

#save-btn {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #FF385C;
    outline: none;
    border: none;
}

#share-btn {
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    border: none;
}

#save-btn:hover {
    background-color: #00fffc;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}

#share-btn:hover {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}

#share-btn {
    /* position: absolute;
    text-align: center;
    right: 23%; */
    float: right;
    margin-left: 10px;
}

#save-btn {
    /* position: absolute;
    text-align: center;
    right: 17.5%; */
    float: right;
}

#hr-desc {
    margin: 20px;
    width: 100%;
    float: left;
}

#hr_{
    margin: 30px;
    width: 100%;
    float: left;
}

.icon-small {
    border-radius: 0px !important;
    height: 30px;
}

.sleep-div {
    margin-top: 0px;
    padding: 20px;
}

.sleep-content {
    border: 1px solid rgb(221, 221, 221) !important;
    border-radius: 12px !important;
    padding: 20px !important;
    width: 207px !important;
    border: 1px solid black;
    width: auto;
}

#contact {
    color: black;
    font-weight: bold;
    padding: 20px !important;
    font-size: 18px;
}

#description {
    padding: 25px;
}

#more-places {
    margin: 0 auto;
    padding: none !important;
}

.products {
    margin-top: -80px;
}

#more-places>h3 {
    text-align: center;
    margin: 0px;
}

/* desc-book */

#container-info>div.desc-book>div:nth-child(2) {
    margin-right: 30px;
    margin-top: 30px;
}

.desc-book {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 1em;
}

.table-check {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    float: right;
    width: 380px;
    padding: 24px;
    border: 1px;
    border-radius: 1em;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 25px;
    overflow: hidden;
    background-image: url(/images/background/1255690.png);
}

th, td {
    padding: 1em;
    border-bottom: 2px solid white;
    font-weight: bold;
    color: white;
}

#check-in, #check-out {
    height: 20px;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
}

#check-in:active, #check-out:active {
    height: 20px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}

#container-info>div.desc-book>div:nth-child(2)>form>table>tbody>tr:nth-child(2)>td:nth-child(1) {
    border-right: 2px solid white;
}

.check-button {
    color: white;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 1em;
    border-radius: 1em;
}

.check-button:focus {
    outline: none;
}

.check-button:hover {
    outline: none;
    background-color: rgb(255, 56, 92);
    cursor: pointer;
}

.amenities{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 1em;
}

.amenities-img{
    height: 30px;
    border-radius: 0px !important;
    padding: 5px;
    margin-bottom: -10px;
}

#container-info > div.sleep-div > div.amenities > div > ul > li{
    list-style-type:none;
    padding: 5px;
}