html {
    height: 100%;
    font-weight: 500;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

#header {
    display: block;
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(/images/background/bg-1.jpg);
    background-size: cover;
    background-position-y: 65%;
}

#nav {
    position: absolute;
    width: 100%;
    height: 6%;
}

#logo {
    margin-left: 15%;
    width: 120px;
}

#host-link {
    text-decoration: none;
    color: white;
    float: right;
    margin: 10px;
    border: 0.1px solid white;
    padding: 7px;
    border-radius: 5px;
}

#host-link:visited {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#host-link:hover {
    background-color: rgba(0, 0, 0, 0.8)
}

.nav-links {
    color: white;
    text-decoration: none;
    float: right;
    margin: 18px;
}

#nav>a:nth-child(2) {
    margin-right: 15%;
}

/* Greeting */

#welcome-text-nav {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 70%;
    height: 300px;
    top: 50%;
    margin-top: -150px;
    left: 15%;
    border-radius: 20px;
}

#welcome-text {
    color: #FF385C;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 55px;
}

#welcome-under-text {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

#how-it-works:link {
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 2px;
    position: abolute;
    margin-left: 45%;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
}

#how-it-works:visited {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
}

#how-it-works:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

/* Search Bar */

#search-bar {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
}

#_search {
    position: absolute;
    width: 1000px;
    height: 66px;
    background-color: white;
    top: 25%;
    left: 50%;
    margin-left: -500px;
    border-radius: 50px;
}

#_search form ul li {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-top: -8px;
}

#_search form button {
    outline: none;
    position: absolute;
    width: 150px;
    top: 0;
    right: 0%;
    border-radius: 50px;
    border: none;
    padding: 23.5px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 14px;
    background-color: #FF385C;
}

#_search form button:hover {
    background-color: rgba(255, 56, 92, 0.8);
}

.fa-search-location {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: -2px;
}

.select-to-search {
    border: none;
    outline: none;
    margin-top: 5px;
    width: 130px;
    text-align: center;
}

.select-to-search:active {
    border-radius: 5px;
}

/* Products */
.product{
    margin: 10px!important;
    padding: none !important;
}
.products {
    display: inline-block;
    height: 2000px;
}

.products .list-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    margin: 120px;
}

.products .list-products .product {
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    border: rgba(0, 0, 0, 0.3)solid;
    border-radius: 10px;
}

.check-available {
    position: relative;
    bottom: 9%;
    left: 70%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.check-available:hover {
    background-color: #FF385C;
    color: white;
}

.check-available:active {
    outline: none;
    border: none;
    border-radius: 25px;
}

/* Footer */

#footer {
    margin-top: 100px;
    background-color: #1CC6CD;
    color: white;
    position: absolute;
    width: 100%;
}

#_foot ul {
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-self: end;
    padding: 20px;
    margin-top: 20px;
    right: 20%;
}

#_foot ul li a, #_foot ul li {
    font-size: 0.9rem;
    font-weight: 700;
    padding-right: 10px;
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-weight: 500;
}

.logo-footer {
    position: absolute;
    height: 80px;
    margin-left: 300px;
    margin-top: 15px;
}

#footer hr {
    margin-top: 100px;
    max-width: 1250px;
}

#footer ul li h3 {
    margin: 10px 0 20px;
}

.footer-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-self: start;
    padding: 15px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content a {
    text-decoration: none !important;
    color: white;
    display: inline-block;
    margin-bottom: 15px;
}

.footer-content a:hover {
    color: rgba(255, 255, 255, 0.9)
}

.col-1 {
    flex: 0 0 calc(30% - 20px) !important;
    max-width: calc(30% - 20px) !important;
    padding: 0 !important;
    margin-right: 20px;
}

.col-2 {
    flex: 0 0 calc(25% - 20px) !important;
    max-width: calc(25% - 20px) !important;
    padding: 0 !important;
    margin-right: 20px;
}

#footer>div.footer-content>div.col-2>ul>li:nth-child(1)>a {
    color: #007aff;
    font-weight: bold;
}

.post-for-free {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-left: -10px;
}

.post-for-free:hover, #footer>div.footer-content>div.col-2>ul>li:nth-child(1)>a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.col-3 {
    flex: 0 0 calc(25% - 20px) !important;
    max-width: calc(25% - 20px) !important;
    padding: 0 !important;
    margin-right: 20px;
}

.col-4 {
    flex: 0 0 calc(20% - 20px) !important;
    max-width: calc(20% - 20px) !important;
    padding: 0 !important;
    font-size: 30px;
}

.col-4 h3 {
    font-size: 1.17rem;
}

.background-footer {
    background-image: url(/images/background/footer-2.svg);
    height: 85px;
}

.app-link {
    height: 70px;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
}

#ins {
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

#ins:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

#fb {
    border-radius: 5px;
    padding: 20px 24px;
    background-color: rgba(0, 0, 0, 0.3);
}

#fb:hover {
    background-color: #3B5998;
}

#tw {
    border-radius: 5px;
    padding: 20px 18.3px;
    background-color: rgba(0, 0, 0, 0.3);
}

#tw:hover {
    color: white;
    background-color: #08a0e9;
}

#yt {
    border-radius: 5px;
    padding: 20px 16.5px;
    background-color: rgba(0, 0, 0, 0.3);
}

#yt:hover {
    color: #E62117;
    background-color: white;
}

#gg {
    border-radius: 5px;
    padding: 20px 18.5px;
    background-color: rgba(0, 0, 0, 0.3);
}

#gg:hover {
    background-color: #DB4437;
}

#lin {
    border-radius: 5px;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

#lin:hover {
    background-color: #0e76a8;
}